html {
  position: relative;
  min-height: 100%;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 4.5rem;
  padding-bottom: 10px;
  margin-bottom: 60px;
  background-color: #ecedf0;
}

#posts-row {
  margin-bottom: 30px;
}

#logo-text {
  font-family: 'Nunito', sans-serif;
}

/* Hide distance options in filter form */
#distance {
  display: none;
}

/* Make delete forms inline-block */
.delete-form {
	display: inline-block;
}

.img {
  height: 100px;
}

/* Google Map styles */
#index-map, #show-map {
	height: 300px;
  width: 100%;
  -webkit-box-shadow: 0 4px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 12px -6px rgb(109, 108, 108);
  
}

/* Sticky Footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #0f1418;
}

/* Fieldset legend font-size */
#condition-legend, #category-legend {
	font-size: 1rem;
}

/* Delete Comment Form */
.delete-comment {
  display: inline-block;
}

/* Style form validation messages */
.form-validation {
  color: red;
}

/* Map loader animation */
#loader {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 110px;
    left: 45%;
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #F75047; /* Red */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

#jumbotron__main {
  background-color: #fff;
}

#jumbotron__side {
  width: 105%;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fff;
}

#jumbotron__cat {
  background-color: #fff;
  padding: 10px;
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar {
  background-color:#0f1418;
  -webkit-box-shadow: 0 4px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 12px -6px rgb(109, 108, 108);

}
.shadow__simple {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow:hover {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}